.container {
    width: 1600px;
}

body {
    background: #cff;
}

header {
    padding-top: 20px;
}

header img {
    padding: 1em;
    background: #fff;
}

section {
    margin-top: 1em;
    font-size: 120%
    padding: 20px;
    background: #fff;
}

section h1 {
    font-size: 200%;
}

/* Links */

a {
    color: #09c;
    text-decoration: none;
}

a:hover {
    color: #069;
    text-decoration: underline;
}

a:visited {
    color: #069;
}

/* Navigation */
nav {
    float: right;
}

nav {
    background-color: white;
    padding: 0 0.7em;
    whitespace: nowrap;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 0.2em 0;
}

nav ul li a {
    padding: 0 5px;
    font-weight: bold;
}

nav ul li a:visited {
    color: #09c;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Sign Up Button */

a.signup_button {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    width: 190px;
/*    color: #fff;*/
/*    background: #006400; */
    font-size: 150%;
    font-weight: bold;
    padding: 20px;
}

.round {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.shadow {
     -moz-box-shadow: 0px 0px 4px #ffffff; /* FF3.5+ */
  -webkit-box-shadow: 0px 0px 4px #ffffff; /* Saf3.0+, Chrome */
          box-shadow: 0px 0px 4px #ffffff; /* Opera 10.5, IE9, Chrome 10+ */
}

.gradient {
  background-color: #00DD00;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#00DD00), to(#ffffff)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #00DD00, #ffffff); /* Chrome 10+, Saf5.1+ */
  background-image:    -moz-linear-gradient(top, #00DD00, #ffffff); /* FF3.6 */
  background-image:     -ms-linear-gradient(top, #00DD00, #ffffff); /* IE10 */
  background-image:      -o-linear-gradient(top, #00DD00, #ffffff); /* Opera 11.10+ */
  background-image:         linear-gradient(top, #00DD00, #ffffff);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#00DD00', EndColorStr='#ffffff'); /* IE6.IE9 */
}

/* Footer */

footer {
    text-align: center;
    margin-top: 10px;
    width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

footer nav {
    float: none;
}